@if (!loading) {
  <div class="p-4">
    <form [formGroup]="formData" (ngSubmit)="savePlace()">
      <div>
        <h2 class="mt-4 text-2xl">Title <sup class="text-red-600 text-sm">*</sup></h2>
        <p class="text-sm text-gray-500">title for your place. Should be short and catchy as in advertisement</p>
        <input type="text" formControlName="title" placeholder="title, for example: My lovely apt"/>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Description <sup class="text-red-600 text-sm">*</sup></h2>
        <p class="text-sm text-gray-500">description of the place</p>
        <textarea formControlName="description"></textarea>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Location</h2>
        <div class="mt-2 grid grid-flow-row">
          <div>
            <label class="text-sm" >Address <sup class="text-red-600">*</sup></label>
            <input type="text" formControlName="address"/>
          </div>
        </div>
        <div class=" grid grid-flow-row grid-cols-2 gap-x-4">
          <div>
            <label class="text-sm" >Country <sup class="text-red-600">*</sup></label>
            <p-dropdown
              styleClass="w-full"
              [options]="countries"
              formControlName="country"
              placeholder="Select a Country"
              [editable]="true"
              (onChange)="this.onCountryChange($event)"
              optionLabel="countryName" />
          </div>
          <div>
            <label class="text-sm" >State <sup class="text-red-600">*</sup></label>
            <p-dropdown
              styleClass="w-full"
              [options]="states"
              formControlName="state"
              placeholder="Select a State"
              [editable]="true"
              (onChange)="this.onStateChange($event)"
              optionLabel="stateName" />
          </div>
          <div>
            <label class="text-sm" >City <sup class="text-red-600">*</sup></label>
            <p-dropdown
              styleClass="w-full"
              [options]="cities"
              formControlName="city"
              placeholder="Select a City"
              [editable]="true"
              optionLabel="cityName" />
          </div>
          <div>
            <label class="text-sm" >Pincode <sup class="text-red-600">*</sup></label>
            <p-dropdown
              styleClass="w-full"
              [options]="zipCodes"
              formControlName="pinCode"
              placeholder="Select a Pincode"
              [editable]="true"
              optionLabel="pinCode" />
          </div>

        </div>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Perks</h2>
        <p class="text-sm text-gray-500">select all the perks of your place</p>
        <app-perks [selected]="formData.get('perks')?.value" (perksChange)="formData.get('perks')?.setValue($event)"></app-perks>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Price and other information</h2>
        <div class="grid gap-2 sm:grid-cols-2 md:grid-cols-3">
          <div>
            <h3 class="mt-2 mb-1 ml-1">Price per night <sup class="text-red-600 text-sm">*</sup></h3>
            <input type="number" formControlName="price" placeholder="1"/>
          </div>
          <div>
            <h3 class="mt-2 mb-1 ml-1">Rating</h3>
            <input type="number" formControlName="rating" placeholder="1"/>
          </div>
          <div>
            <h3 class="mt-2 mb-1 ml-1">Active Status</h3>
            <select formControlName="isActive">
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Photos <sup class="text-red-600 text-sm">*</sup></h2>
        <p class="text-xs text-gray-500">Atleast 5 (more = better)</p>
        <app-photos-uploader [addedPhotos]="addedPhotos" (photosChange)="addedPhotos = $event"></app-photos-uploader>
      </div>

      <div>
        <h2 class="mt-4 text-2xl">Rooms</h2>
        <p class="text-sm text-gray-500">add rooms to your place</p>
        @for (room of roomsFormArray().controls; track room; let i = $index) {
          <app-rooms [formGroup]="getRoomFormGroup(i)" [index]="i" (removeRoom)="removeRoom($event)" [submissionType]="submissionType"></app-rooms>
        }
        <button type="button" class="mx-auto my-4 rounded-full bg-secondary py-2 px-5 border" (click)="addRoom()">Add Room</button>
      </div>

      <button type="submit" class="mx-auto my-4 flex rounded-full bg-primary py-3 px-20 text-xl font-semibold text-white" (click)="isSubmitted = true">
        Save
      </button>
    </form>
  </div>
} @else {
  <div class="py-52">
    <app-spinner [isLoading]="loading"></app-spinner>
  </div>
}
