<div class="mt-4 overflow-x-hidden px-8 pt-20 ">
  <h1 class="text-3xl">{{ place.title }}</h1>

  <!--<AddressLink placeAddress={place.address} />
  <PlaceGallery place={place} />-->

  <div class="mt-8 mb-8 grid grid-cols-1 gap-8 md:grid-cols-[2fr_1fr]">
    <div class="">
      <div class="my-4 ">
        <h2 class="text-2xl font-semibold">Description</h2>
        {{ place.description }}
      </div>
      Max number of guests: {{ place.maxGuests }}
      <!--<PerksWidget perks={place?.perks} />-->
    </div>
    <div>
<!--      <BookingWidget place={place} />-->
    </div>
  </div>
  <div class="-mx-8 border-t bg-white px-8 py-8">
    <div>
      <h2 class="mt-4 text-2xl font-semibold">Extra Info</h2>
    </div>
    <div class="mb-4 mt-2 text-sm leading-5 text-gray-700">
      {{ place.extraInfo }}
    </div>
  </div>
</div>
