<div class="px-2 pt-40">
  <div class="text-center">
    <p class="text-base font-semibold text-black">404</p>
    <h1 class="mt-2 text-3xl font-semibold tracking-tight text-black sm:text-5xl">
      We can&apos;t seem to find the page you&apos;re looking for.
    </h1>
    <p class="mt-4 text-base leading-7 text-gray-600">
      Sorry, the page you are looking for doesn't exist or has been moved.
    </p>
    <div class="mt-4 flex items-center justify-center gap-x-3">
      <button routerLink="/" class="rounded-[10px] bg-gray-900 p-2 px-20 hover:bg-gray-700">
        <span class="font-semibold text-white">Home</span>
      </button>
    </div>
  </div>
</div>
