<div class="flex min-w-96 overflow-hidden rounded-full border border-gray-400 bg-gray-300 shadow-sm hover:shadow-lg">
  <div class="grow">
    <input
      type="search"
      placeholder="Where you want to go?"
      class="h-full w-full border-none py-2 px-4 text-sm focus:outline-none md:text-lg"
      [(ngModel)]="searchText"
      (input)="handleSearch($event)"
    />
  </div>
  <div class="bg-blue flex cursor-pointer items-center bg-primary text-white">
    <button
      class="flex rounded-r-full bg-primary py-2 px-4 md:p-2"
      (click)="handleSearch()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="currentColor"
        class="mt-1 h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
      <span class="ml-1 hidden md:block">Search</span>
    </button>
  </div>
</div>
