<a class="my-3 flex cursor-pointer flex-col gap-4 rounded-2xl bg-gray-100 p-4 transition-all hover:bg-gray-300 md:flex-row">
  <div class="flex w-full shrink-0 bg-gray-300 sm:w-32">
    <app-place-img [place]="place"></app-place-img>
  </div>
  <div>
    <h2 class="text-lg md:text-xl">{{ place.title }}</h2>
    <p class="line-clamp-3 mt-2 text-sm">{{ place.description }}</p>
    <p class="line-clamp-3 mt-2 text-sm">
      @let isActive = place.isActive;
      <p-tag [severity]="isActive ? 'success': 'warning'" [value]="isActive ? 'Active' : 'Inactive'"></p-tag></p>
  </div>
</a>
