<div class="rounded-2xl bg-white p-4 shadow-xl">
  <div class="text-center text-xl">
    Price: <span class="font-semibold">₹{{ place.price }}</span> / per night
  </div>
  <div class="mt-4 rounded-2xl border">
    <div class="flex w-full ">
      <div class="w-1/2 border-r py-3 px-4">
        <label>Check-in: </label>
        <input
          type="date"
          name="checkIn"
          (change)="calculateNumberOfNights()"
          [(ngModel)]="dateRange.checkIn"
        />
      </div>
      <div class="w-1/2 py-3 px-4">
        <label>Check-out: </label>
        <input
          type="date"
          name="checkOut"
          (change)="calculateNumberOfNights()"
          [(ngModel)]="dateRange.checkOut"
        />
      </div>
    </div>
    <div class="border-t py-3 px-4">
      <label>Number of guests: </label>
      <input
        type="number"
        name="noOfGuests"
        placeholder="Max. guests: {{place.maxGuests}}"
        min=1
        max="{{place.maxGuests}}"
        [(ngModel)]="bookingData.noOfGuests"
      />
    </div>
    <div class="border-t py-3 px-4">
      <label>Your full name: </label>
      <input
        type="text"
        name="name"
        [(ngModel)]="bookingData.name"
      />
      <label>Phone number: </label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="bookingData.phone"
      />
    </div>
  </div>
  @if (numberOfNights < 1 || !bookingData.noOfGuests || !bookingData.name || !bookingData.phone) {
    <button class="w-full mt-2 p-2 rounded-xl text-white" disabled>Book this place</button>
  } @else {
    <button class="primary mt-4" (click)="bookPlace()">
      Book this place
      @if (numberOfNights > 0) {
        ₹{{ numberOfNights * place.price }}
      }
    </button>
  }
</div>
