<div class="rounded-2xl bg-white p-4 shadow-xl">
  <div class="text-center text-xl">
    Price: <span class="font-semibold">₹{{ place.price }}</span> / per night
  </div>
  <div class="mt-4 rounded-2xl border">
    <div class="flex w-full ">
      <div class="w-1/2 border-r py-3 px-4">
        <label>Check-in: </label>
        <input
          type="date"
          name="checkIn"
          (change)="calculateNumberOfNights();validateBooking()"
          [(ngModel)]="dateRange.checkIn"
        />
      </div>
      <div class="w-1/2 py-3 px-4">
        <label>Check-out: </label>
        <input
          type="date"
          name="checkOut"
          [min]="this.dateRange.checkIn"
          (change)="calculateNumberOfNights();validateBooking()"
          [(ngModel)]="dateRange.checkOut"
        />
      </div>
    </div>
    <div class="border-t py-3 px-4">
      <label>Number of guests: </label>
      <input
        type="number"
        name="noOfGuests"
        placeholder="Max. guests: {{place.maxGuests}}"
        min=1
        max="{{place.maxGuests}}"
        [(ngModel)]="bookingData.noOfGuests"
        (ngModelChange)="validateBooking()"
      />
      <label>Room Type</label>
      <select name="roomType" [(ngModel)]="bookingData.roomType" (change)="getRoomPrice();validateBooking()">
        @for (room of place.rooms; track room.roomId) {
          <option [value]="room.roomType">
            {{ room.roomType }}
          </option>
        }
      </select>
    </div>
    <div class="border-t py-3 px-4">
      <label>Your full name: </label>
      <input
        type="text"
        name="name"
        [(ngModel)]="bookingData.name"
      />
      <label>Phone number: </label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="bookingData.phone"
      />
    </div>
  </div>
  @if (numberOfNights < 1 || !bookingData.noOfGuests || !bookingData.name || !bookingData.phone || !isRoomAvailable) {
    <button class="w-full mt-2 p-2 rounded-xl text-white flex justify-center gap-2" disabled>
      @if (!checkingAvailability) {
        Book this place
      } @else {
        <app-loader></app-loader>
      }
    </button>
  } @else {
    <button class="primary mt-4" (click)="bookPlace()">
      Book this place
      @if (numberOfNights > 0) {
        ₹{{ numberOfNights * place.price }}
      }
    </button>
  }
  @if (isRoomAvailable === false && !checkingAvailability) {
    <div class="text-red-500 text-center mt-2">Room is not available for the selected dates or the number of guests</div>
  }
</div>
