<div class="container w-11/12">
  <div class="text-center">
    <a
      class="inline-flex gap-1 rounded-full bg-primary py-2 px-6 text-white cursor-pointer"
      (click)="onPlaceFormModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Add new place
    </a>
  </div>
  <div class="mx-4 mt-4">
    @if (places.length > 0) {
      @for (place of places; track place._id) {
        <app-info-card (click)="onPlaceFormModal(place)" [place]="place"></app-info-card>
      }
    }
  </div>
</div>

@if (displayModal) {
  <p-dialog header="Edit place" modal="true" [(visible)]="displayModal" (close)="displayModal = false" draggable="false" [style]="{ width: '80vw' }">
    <app-places-form-page [place]="selectedPlace" [countries]="countries" [states]="states" [cities]="cities" [zipCodes]="zipCodes"></app-places-form-page>
  </p-dialog>
}
