<div class="flex grow items-center justify-start min-h-dvh p-4 md:p-0 backgroundImage">
  <div class="flex flex-col items-center justify-center bg-white min-h-dvh p-40 ml-0 max-w-3xl">
    <h1 class="mb-4 text-center text-4xl">{{ pageTitle }}</h1>
    <form class="mx-auto" (ngSubmit)="handleFormSubmit(pageTitle === 'Login' ? 'login' : 'register')">
      @if (pageTitle === 'Login') {
        <input
          name="email"
          type="email"
          placeholder="your@email.com"
          [(ngModel)]="loginFormData.email"
          required
        />
        <input
          name="password"
          type="password"
          placeholder="password"
          [(ngModel)]="loginFormData.password"
          required
        />
      } @else {
        <input
          name="username"
          type="text"
          placeholder="username"
          [(ngModel)]="registerFormData.userName"
          required
        />
        <span class="flex gap-4">
          <input
            type="text"
            name="firstName"
            id="firstName"
            placeholder="First Name"
            required
            [(ngModel)]="registerFormData.firstName"
          />
        <input
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Last Name"
          required
          [(ngModel)]="registerFormData.lastName"
        />
        </span>
        <input
          name="dateOfBirth"
          type="text"
          placeholder="Date of Birth"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          [(ngModel)]="registerFormData.dateOfBirth"
          required
        />
        <input
          name="email"
          type="email"
          placeholder="your@email.com"
          [(ngModel)]="registerFormData.email"
          required
        />
        <input
          name="password"
          type="password"
          placeholder="password"
          [(ngModel)]="registerFormData.password"
          required
        />
        <input
          name="confirmPassword"
          type="password"
          placeholder="confirm password"
          [(ngModel)]="registerFormData.confirmPassword"
          required
        />
      }
      <button class="primary my-4 text-center flex justify-center items-center gap-3" [disabled]="isLoading">
        @if (isLoading) {
          <app-loader></app-loader>
        } @else {
          {{ pageTitle }}
        }
      </button>
    </form>

    <p class="py-2 text-center text-gray-500">
      @if (pageTitle === 'Login') {
        Don't have an account? <a (click)="goToPage('register')" class="underline">Register</a>
      } @else {
        Already have an account? <a (click)="goToPage('login')" class="underline">Login</a>
      }
    </p>

  </div>
</div>
